* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: #f4d04e;
  font-family: "Figtree", sans-serif;
  display: flex;
  flex-direction: column;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 20vh);
  flex-direction: column;
  gap: 24px;
}

.container {
  background-color: #fff;
  border: 1px solid #111;
  border-radius: 20px;
  padding: 24px;
  margin: 0 auto;
  max-width: 384px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  filter: drop-shadow(8px 8px 0px #000);
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.container:hover .title {
  color: #f4d04e;
  transition: color 0.5s ease;
}

.container:hover {
  cursor: pointer;
  box-shadow: 4px 4px 0px #000000;
  transform: translate(-2px, -2px);
}

.first-img {
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.category {
  background-color: #f4d04e;
  color: #111111;

  padding: 4px 12px;
  display: inline-block;
  border-radius: 4px;
  font-weight: 800;
  align-self: flex-start;
}
.publish-date {
  font-size: 14px;
  font-weight: 500;
}

.title {
  font-size: 24px;
  font-weight: 800;
}

.description {
  font-size: 16px;
  color: #6b6b6b;
}
.avatar-img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.author {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
.author-name {
  font-weight: 800;
}

.attribution {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 480px) {
  .container {
    width: 90%;
  }
  .title {
    font-size: 20px;
  }
  .category {
    font-size: 12px;
  }
  .publish-date {
    font-size: 12px;
  }
  .description {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

.attribution {
  margin-top: 50px;
  text-align: center;
}
